a:hover {
    background-color: rgba(0,0,0,.2);
}

.Überschrift{
    font-size: 20%;
}

html {
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#indexBody{
    position: fixed; 
    overflow-y: scroll;
    width: 100%;
}

main {
    flex: 1;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container > section{
    max-width: 55vh;
}


.containerSections > section p {
    padding: 0.8em 0;
    margin-bottom: 0 !important;
}

.containerSections > section img{
    max-width: 40em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;  
}

.containerSections > section {
    padding: 0em 2em 2em 2em;
    max-width: 50em;
    margin: 0 auto;
}

.containerSections > section pre{
    margin-bottom: 0 !important;
}

.containerSections h2{
    padding-top: 2em;
    text-align: center;
}

.containerSections h3{
    text-align: center;
}


.containerSections h5{
    padding-top: 1em;
}

#bereich {
    max-width: 50em;
    z-index: -20;
}

.hidden {
    display: none;
}

a.disabled-link,
a.disabled-link:visited ,
a.disabled-link:active,
a.disabled-link:hover {
    background-color:#d9d9d9 !important;
    color:#aaa !important;
}
    

.dropdown-menu{
 padding: .5rem 0 0 0 !important;
}

.centerImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.tab{
    margin-left: 2em;
}

.tableSize{
    width:120px;
    height: 120px;
}
.tableSize2{
    width:100px;
    height: 115px;
}

.table td{
    vertical-align: middle !important;
}
